<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>FormularioPrestador</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="formPrestador">


        <div class="card" style="background-color:#ffffe4">

            <div class="card-body">

                <form id="formPrestador" th:action="@{/home/novoPrestador}"  th:object="${prestador}" method="post">
                    <div class="alert alert-danger" th:if="${errors!=null}">
                        <p th:each="error : ${errors}" th:text="${error}"></p>
                    </div>

                    <input th:field="*{id}" type="hidden">

                    <div class="form-floating">
                        <label for="nome">Digite seu nome</label>
                        <input th:field="*{nome}" type="text" class="form-control" id="nome">
                    </div>
                    <div class="form-floating">
                        <label for="login">Digite seu login</label>
                        <input th:field="*{login}" type="text" class="form-control" id="login">
                    </div>
                    <div class="form-floating">
                        <label for="senha">Digite sua senha</label>
                        <input th:field="*{senha}" type="password" class="form-control" id="senha">
                    </div>

                    <div class="form-floating mb-3">
                        <label for="tel">Digite seu número do seu celular</label>
                        <input th:field="*{telefone}"
                               data-inputmask="'mask': '(99)99999-9999'"
                               type="text" class="form-control" name="tel" id="tel"/>
                    </div>
                    <div class="form-floating">
                        <div class="form__group field">
                            <select th:field="*{servicos}" name="ocupacao" id="ocupacao"
                                    placeholder="Selecione sua especialização" class="form__field">
                                <option value="">Selecione sua especialização</option>
                                <option th:each="c:${servicos}" th:value="${c.getId()}" th:text="${c.getOcupacao()}">

                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <button  id="btnCriar" type="submit" class="btn btn-info">Criar conta</button>
                    <br><br>
                    <a th:href="@{/login}" id="btnVoltar" class="btn btn-danger">
                        Voltar para o login
                    </a>
                </form>

            </div>
        </div>

    <script>
        $(":input").inputmask();
    </script>

</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>