<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;width: 100%;margin: 0;"
        >
<head>
    <meta charset="UTF-8">
    <title>Formulário de cadastro</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <script type='text/javascript'
            src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</head>
<body style="height: 100%;width: 100%;margin: 0;background-color: #F5F5F5;">
<div class="container" style="height: 100%;width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;">

    <div class="card">

        <div class="card-body">
            <form id="form" th:action="@{/formulario/usuario}">
                <div class="form-floating" style="margin-bottom:0px;">
                    <label>Diga que tipo de usuário você é:</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:if="${usuario==null}"
                           class="form-check-input" type="radio" required
                           name="tipo" id="moradorRadio" value="morador">
                    <input th:if="${usuario!=null && !usuario.equals('morador')}"
                           class="form-check-input" type="radio" disabled
                           name="tipo" id="disabledMoradorRadio" value="morador">
                    <input th:if="${usuario!=null && usuario.equals('morador')}"
                           class="form-check-input" type="radio" disabled checked
                           name="tipo" id="disabledMoradorRadioChecked" value="morador">
                    <label class="form-check-label" for="moradorRadio">Morador</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:if="${usuario==null}"
                           class="form-check-input" type="radio"
                           name="tipo" id="prestadorRadio" value="prestador">
                    <input th:if="${usuario!=null && !usuario.equals('prestador')}"
                           class="form-check-input" type="radio" disabled
                           name="tipo" id="disabledPrestadorRadio" value="prestador">
                    <input th:if="${usuario!=null && usuario.equals('prestador')}"
                           class="form-check-input" type="radio" disabled checked
                           name="tipo" id="disabledPrestadorRadioChecked" value="prestador">
                    <label class="form-check-label" for="prestadorRadio">Prestador de serviço</label>
                </div>
                <br><br>
                <button th:if="${usuario==null}" id="btnProsseguir" type="submit" class="btn btn-warning">
                    Prosseguir
                </button>
                <button th:if="${usuario!=null}" id="disabledBtnProsseguir" disabled
                        type="submit" class="btn btn-warning">
                    Prosseguir
                </button>

                <br>
            </form>

            <hr>

            <div th:if="${usuario!=null && usuario.equals('morador')}" id="formMorador"
                 style="margin-top:5px;"
                 th:insert="formulario/formMorador :: formMorador">
            </div>

            <div th:if="${usuario!=null && usuario.equals('prestador')}" id="formPrestador" style="margin-top:5px;"
                 th:insert="formulario/formPrestador :: formPrestador">
            </div>
        </div>

    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</body>
</html>