<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Form Script</title>
</head>
<body>
    <script th:fragment="formScript">

        function voltarLogin(){
            window.location.href = 'http://localhost:8084/moradoresPrestadores/login';
        }

        function releaseAdditionFields(){

        let radioMorador = document.getElementById("moradorRadio");
        let radioPrestador = document.getElementById("prestadorRadio");
        let formMorador = document.getElementById("formMorador");
        let formPrestador = document.getElementById("formPrestador");
        let btnCriar =  document.getElementById("btnCriar");
        let btnVoltar =  document.getElementById("btnVoltar");

        if (radioMorador.checked){
            formMorador.setAttribute('style','display:block;');
            formPrestador.setAttribute('style','display:none;');
        }else if (radioPrestador.checked){
            formPrestador.setAttribute('style','display:block;');
            formMorador.setAttribute('style','display:none;');
        }

        btnCriar.setAttribute('style','display:block;');
        btnVoltar.setAttribute('style','display:block;');

        }

    </script>

</body>
</html>