<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>FormularioPrestador</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="formPrestador">
    <div class="form-floating mb-3">
        <label for="tel">Digite seu número de telefone</label>
        <input type="number" class="form-control" name="tel" id="tel">
    </div>
    <br>
    <div class="form-floating">
        <div class="form__group field">
            <select name="tipoMorada" id="tipoMorada" placeholder="Selecione sua especialização" class="form__field">
                <option value="">Selecione sua especialização</option>
                <option value="1">Pintor</option>
                <option value="2">Eletricista</option>
                <option value="2">Pedreiro</option>
            </select>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>