<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>FormularioMorador</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="formMorador">

        <div class="card" style="background-color:#ffffe4">
            <div class="card-body">
                <form id="formMorador" th:action="@{/home/novoMorador}" method="post">
                    <div th:object="${morador}">
                        <div class="alert alert-danger" th:if="${errorsMorador!=null}">
                            <p th:each="error : ${errorsMorador}" th:text="${error}"></p>
                        </div>
                        <input th:field="*{id}" type="hidden">

                        <div class="form-floating">
                            <label for="nome">Digite seu nome</label>
                            <input th:field="*{nome}" type="text" class="form-control" id="nome">
                        </div>
                        <div class="form-floating">
                            <label for="login">Digite seu login</label>
                            <input th:field="*{login}" type="text" class="form-control" id="login">
                        </div>
                        <div class="form-floating">
                            <label for="senha">Digite sua senha</label>
                            <input th:field="*{senha}" type="password" class="form-control" id="senha">
                        </div>
                    </div>

                    <div th:object="${condominio}">
                        <div class="alert alert-danger" th:if="${errorsCondominio!=null}">
                            <p th:each="error : ${errorsCondominio}" th:text="${error}"></p>
                        </div>
                        <div class="form-floating mb-3" >
                            <label for="cep">Digite o CEP do Condomínio</label>
                            <input th:field="*{cep}"
                                   data-inputmask="'mask': '99999-999'"
                                   type="text" class="form-control" name="cep" id="cep">
                        </div>
                        <div class="form-floating">
                            <label for="numCondominio">Digite o número do Condomínio</label>
                            <input th:field="*{numeroCondominio}"
                                   type="number" class="form-control" id="numCondominio">
                        </div>
                        <div class="form-floating">
                            <label for="nomeCondominio">Digite o nome do Condomínio</label>
                            <input th:field="*{nomeCondominio}"
                                   type="text" class="form-control" id="nomeCondominio">
                        </div>
                        <div class="form-floating">
                            <label for="endereco">Digite o endereço do Condomínio</label>
                            <input th:field="*{endereco}"
                                   type="text" class="form-control" id="endereco">
                        </div>
                    </div>
                    <div th:object="${morada}">
                        <div class="alert alert-danger" th:if="${errorsMorada!=null}">
                            <p th:each="error : ${errorsMorada}" th:text="${error}"></p>
                        </div>
                        <div class="form-floating">
                            <label for="numMorada">Número da sua morada</label>
                            <input th:field="*{numeroMorada}" type="number" class="form-control" id="numMorada">
                        </div>
                        <br>
                        <div class="form-floating">
                            <div class="form__group field">
                                <select th:field="*{estrutura}" name="estrutura" id="estrutura"
                                        placeholder="Selecione seu tipo de morada" class="form__field">
                                    <option value="">Selecione seu tipo de morada</option>
                                    <option value="CASA">Casa</option>
                                    <option value="APARTAMENTO">Apartamento</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>
                    <button  id="btnCriar" type="submit" class="btn btn-info">Criar conta</button>
                    <br><br>
                    <a th:href="@{/login}" id="btnVoltar" class="btn btn-danger">
                        Voltar para o login
                    </a>
                </form>
            </div>
        </div>

    </form>

    <script>
    $(":input").inputmask();
    </script>

</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>