<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;width: 100%;margin: 0;">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body style="height: 100%;width: 100%;margin: 0;background-color: #F5F5F5;">

<div class="container" style="height: 100%;width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: space-around;">
    <div class="card">
        <div class="card-body">
            <div class="form-floating mb-3">
                <label for="login">Login</label>
                <input type="text" class="form-control" name="login" id="login">
            </div>
            <div class="form-floating">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha">
            </div>
            <a th:href="@{/formulario}">Clique aqui para criar um novo cadastro</a>
            <br><br>
            <button type="button" class="btn btn-info">Entrar</button>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>