<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;width: 100%;margin: 0;">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body style="height: 100%;width: 100%;margin: 0;background-color: #F5F5F5;">

<div class="container" style="height: 100%;width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: space-around;">
    <div class="card">
        <div class="card-body">
            <form id="form" th:action="@{/home}" method="post">
                <div class="alert alert-danger" th:if="${error!=null}">
                    <p th:text="${error}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" name="login" id="login">
                </div>
                <div class="form-floating">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" id="senha">
                </div>
                <br>
                <div class="form-floating" style="margin-bottom:0px;">
                    <label>Que tipo de usuário você é:</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" required
                           name="tipo" id="moradorRadio" value="morador">
                    <label class="form-check-label" for="moradorRadio">Morador</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           name="tipo" id="prestadorRadio" value="prestador">
                    <label class="form-check-label" for="prestadorRadio">Prestador de serviço</label>
                </div>
                <br><br>
                <a th:href="@{/formulario}">Clique aqui para criar um novo cadastro</a>
                <br><br>
                <button type="submit" class="btn btn-info">Entrar</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>